---
import { getAllTags, getAllTagsWithCount } from '../../utils.js'
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config'
import Tag from '../../components/Tag.astro'

const allPosts = await Astro.glob('../blog/*.md')
const allTags = getAllTagsWithCount(allPosts)
console.log(allTags)

const meta = {
    title: 'All Tags',
    description: 'All Tags from my blogs',
}
---

<html lang="kr">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .tags {
                margin: 16px 0;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <section>
                <h1>Tags</h1>
                <hr />
                <div class="tags">
                    {
                        Object.keys(allTags).map((tag) => (
                            <Tag tag={tag} count={allTags[tag]} />
                        ))
                    }
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>
