---
const today = new Date()
---

<footer>
    <div class="layout">&copy; 2022 ILGAE. All rights reserved.</div>
</footer>
<style>
    footer {
        color: white;
        background-color: #0092ca;
        padding: 25px;
        text-align: center;

        font-weight: 700;
    }
</style>
