---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { tag, multiline } = Astro.props;
---

<a class={multiline ? 'multiline' : ''} href={`/tags/${tag}`}>
    {tag}
</a>
<style>
    a {
        display: inline-block;
        padding: 0 10px;

        color: #666666;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;

        border: 1px solid #dddddd;
        border-radius: 10px;
    }
    a.multiline {
        margin: 4px 0;
    }
    a:hover {
        background-color: #dddddd;
    }
    a.active {
        font-weight: bolder;
        text-decoration: underline;
    }
    span {
        font-size: 10px;
    }
</style>
